<h1> Confirmed booking</h1>

<h3> <%=current_user.name%>'s confirmed booking</h3>
<% @bookings.each do |booking| %>
  <% if booking.space.user.id == current_user.id %>
    <li> Host: <%= booking.space.user.name %>
     Price per night: <%= booking.space.price %></li>
     </br>
     Requested date: <%= booking.date %>
     </br>
   <% end %>
<% end %>
