<h1>Host <%=current_user.name%>: Confirmed bookings</h1>

<% @bookings.each do |booking| %>
  <% if booking.space.user.id == current_user.id %>
      <li>
        Host: <%= booking.space.user.name %>
        Price per night: £<%= booking.space.price %>
        </br>
        Requested date: <%= booking.date %>
        </br>
     </li>
   <% end %>
<% end %>
