<h3>Welcome <%=current_user.name%>
<ul id='listed_spaces'>
  <% @spaces.each do |space| %>
    <li> Name: <%= space.space_name %>
    <br></br>
    Description: <%= space.description %><br></br>
    Price: <%= space.price %></li>
    <br></br>
  <% end %>
</ul>
