<h3>Welcome <%=current_user.name%>
<ul id='listed_spaces'>
  <% @spaces.each do |space| %>
    <li> Name: <%= space.space_name %>
    <br></br>
    Description: <%= space.description %><br></br>
    Price: <%= space.price %></li>
    <br></br>
  <% end %>

</ul>
<form action='/session' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='Sign Out'>

</form>
