<h1>List a space</h1>
<br>
<div class=>
  <% if current_user %>
    <form action="/spaces" method='post'>

      Name: <input type="text" name="space_name" required>
      <br>
      Description:<input type="text" name="description" required>
      <br>
      Price per night:
      £ <input type='number' name="price" step='0.01' placeholder='00.00' />
      Available from
      <input type="date" name="start_date" min='<%= DateTime.now.to_date %>' required>
      to
      <input type="date" name="end_date" required>
      Image url:
        <input type="url" name="image">
      <input type="submit" value="list space">
    </form>
  <% else %>
    <h1>Please sign in first in order to add a new place to FourM.</h1>
  <% end %>
