<h1>List a space</h1>

  <form action="/spaces" method='post'>
    Name:
    <input type="text" name="space_name" required>
    Description:
    <input type="text" name="description" required>
    Price per night:
    £ <input type='number' name="price" step='0.01' placeholder='00.00' />
    Available from
    <input type="date" name="start_date" required>
    to
    <input type="date" name="end_date" required>

    <input type="submit" value="list space">
  </form>
