<h1>Welcome to FourM</h1>

<form action='/users' method='post'>

  <label for='email'>
    Email: <input type='email' name='email' required>
  </label>

  <label for='name'>
    Name: <input type='text' name='name' required>
  </label>

  <label for='surname'>
    Surname: <input type='text' name='surname' required>
  </label>

  <label for='password'>
    Password: <input type='password' name='password' required>
  </label>

  <label for='password_confirmation'>
    Password Confirmation:<input type='password' name='password_confirmation' required>
  </label>

  <input id='sign-up-btn' type='submit' value='Sign Up'>

</form>
