<h1>Welcome to FourM</h1>
<br>
<form action='/users' method='post'>

  <label for='email'>
    Email: <input class='in-page' type='email' name='email' required>
  </label>
  <br>
  <label for='name'>
    Name: <input class='in-page' type='text' name='name' required>
  </label>
  <br>
  <label for='surname'>
    Surname: <input class='in-page' type='text' name='surname' required>
  </label>
  <br>
  <label for='password'>
    Password: <input class='in-page' type='password' name='password' required>
  </label>
  <br>
  <label for='password_confirmation'>
    Password Confirmation:
    <input type='password' class='in-page' name='password_confirmation' required>
  </label>
  <br>
  <input id='sign-up-btn' class='in-page' type='submit' value='Sign Up'>

</form>
