<h1>Guest <%=current_user.name%>:  Confirmed bookings</h1>

<% @bookings.each do |booking| %>
  <li>
    Host: <%= booking.space.user.name %>
    Price per night: £<%= booking.space.price %>
    </br>
    Requested date: <%= booking.date %>
    </br>
  </li>
<% end %>
