.navbar-form .form-control {
  display: inline-block;
  float: none;
  vertical-align: top;
  margin-left: 100px;
  width: 300px;
}

.image_space {
  display:block;
   height:460px;
   overflow:hidden;
   margin: -10px auto 40px;
   width: 960px;
   max-width:100%;
   max-height:100%;
}
