<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <a class="navbar-brand" href="#">
          <img alt='FourM' src="https://image.flaticon.com/icons/svg/237/237028.svg">
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/spaces">SpaceSphere<span class="sr-only">(current)</span></a></li>
        <li><a href="/spaces/new">Add New Space</a></li>
        <li id='my-account-btn' class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a id='my-spaces-btn' href="/my/spaces">Spaces</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/requests/confirmations">Bookings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/requests">Requests</a></li>
          </ul>
        </li>
      </ul>

      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li>
            <form action='/session' method='post'>
              <input type='hidden' name='_method' value='delete'>
              <input type='submit' value='Sign Out' class='btn btn-default navbar-btn'>
            </form>
          </li>
        <% else %>
          <li>
            <form action='/session/new' method='get'>
                <input type='submit' value='Sign In' class='btn btn-default navbar-btn'>
            </form>
          </li>
          <li>
            <form action='/users/new' method='get'>
              <input type='submit' value='Sign Up' class='btn btn-default navbar-btn'>
            </form>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
